/* style.css */

h1 {
  text-align:  left;
  font-family: Open Sans Condensed, sans-serif;
  font-weight: 700;
  font-size: 50px;
}


h3 {
    font-family: Open Sans Condensed, sans-serif;
    text-align: left;
    font-weight: 300;
    font-size: 22px;
  }

h4{
  font-family: Open Sans Condensed, sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
}


body {
padding: 15px;
font-family: Open Sans, sans-serif;
font-size: large;
font-weight: 300;
}

#image-box {
display: block;
margin-left: auto;
margin-right: auto;
max-width: 80%;
padding: 10px;
background-color: ;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.chart-box {
  display: flex;
  flex-direction: space-around;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  height: auto;
  padding: 5px;
  background-color: ;
}

  .chart-box p {
    width: auto;
    font-size: medium;
    text-align: left;
    background-color:;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
  }  

.charts {
    padding: 2%;
    margin: 2%;
    background-color: ;
    flex:1;
  }


  a {color: inherit; 
    text-decoration: inherit; 
    font-weight: inherit;
  }

   a:hover {
    font-style: italic;
    font-weight: bold;
  }

hr{
  width: 100%;
  color: black;
  border: 1px solid black;
}


#footer {
  background-color: lightgrey;
  font-family: Open Sans, sans-serif;
  padding: 5px; 
  font-size: 14px;
}

